*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{
  background: #ffffff;
  color: #666666;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
	line-height: 20px;
	word-wrap: break-word;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1268px;
}

.container .cols{
	float:left;
  margin: 0 auto;
}

.container .cols.col-1{width:8.333333333333333%;}
.container .cols.col-2{width:16.66666666666667%;}
.container .cols.col-3{width:25%}
.container .cols.col-4{width:33.33333333333333%;}
.container .cols.col-5{width:41.66666666666667%;}
.container .cols.col-6{width:50%;}
.container .cols.col-7{width:58.33333333333333%;}
.container .cols.col-8{width:66.66666666666666%;}
.container .cols.col-9{width:75%;}
.container .cols.col-10{width:83.33333333333333%;}
.container .cols.col-11{width:91.66666666666666%;}
.container .cols.col-12{width:100%;}

/***********************MENU***************************************/

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after{
	content:"";
	display:table;
}

.container:after,
.row:after,
.clear:after{
	clear:both;
}

.logo{
  background: #858585;
  height: 100px;
}

.contacts-top{
  list-style: none;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contacts-top li{
  display: inline-block;
  color: #ffffff;
  }

.contacts-top li:first-child{
  margin-right: 15px;
}

.contacts-top i{
  margin-right: 5px;
}

.container-1{
  width: 339px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  float: right;
}

.container-1 input#search{
  width: 339px;
  height: 30px;
  background: #DDDDDD;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 20px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 0;
  right: 7%;
  margin-left: 7px;
  margin-top: 5px;
  z-index: 1;
  color: #63717f;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}

.container-1:hover .icon{
  color: #63717f;
}


/********************menu****************************/

.menu{
  background: #FF0000;
  height: 50px;
}

.menu ul{
  list-style: none;
  width: 100%;
}

.menu ul li{
  display: inline-block;
  width: 19%;
  text-align: center;
  height: 40px;
  margin-top: 5px;
}

.menu ul li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 20px;
}

.menu ul .active{
  background-color: #858585;
}

.menu ul li:hover a{
  color: #858585;
}

.menu ul .active:hover a{
  color: #ffffff;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}








@media screen and (min-width: 300px) and (max-width: 479px) {


}

@media screen and (min-width: 480px) and (max-width: 639px) {



}

@media screen and (min-width: 640px) and (max-width: 800px) {


}

@media screen and (min-width: 800px) and (max-width: 1023px) {


}

@media screen and (min-width: 1024px) and (max-width: 1300px){


}

/* Большой дисплей*/
@media (min-width: 1268px) {


}
