@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../font/ProximaNova-Regular.eot');
	src: local('../font/Proxima Nova Regular'), local('../font/ProximaNova-Regular'),
		url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Regular.woff') format('woff'),
		url('../font/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../font/ProximaNova-Semibold.eot');
	src: local('../font/Proxima Nova Semibold'), local('../font/ProximaNova-Semibold'),
		url('../font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Semibold.woff') format('woff'),
		url('../font/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../font/ProximaNova-Light.eot');
	src: local('../font/Proxima Nova Light'), local('../font/ProximaNova-Light'),
		url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Light.woff') format('woff'),
		url('../font/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body{
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
}

.navbar{
  padding: 0;
}

.logo{
  margin-top: 40px;
  margin-bottom: 60px;
}

.logo img{
  width: 100%;
}

.nav-link{
  color: #3D4348;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-link.active{
  color: #FF0000;
}

.nav-link:hover,
.nav-link:focus{
  color: #FF0000;
}

.nav-link:after {
    background-color: #FF0000;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.nav-link.active:after,
.nav-link:hover:after,
.nav-link:focus:after {
    width: 50%;
}

.img-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-background{
  overflow: hidden;
  margin-top: 60px;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 50px;
  position: relative;
}

.description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description h1{
  color: #3D4348;
  text-transform: uppercase;
  font-size: 42px;
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  font-style: normal;
}

.description h1 .red,
.description h1 .bold{
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
}

.description h1 .red{
  color: #FF0000;
  }

 .btn-main{
  background: #FF0000;
  width: 245px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  line-height: auto;
}

.btn-main:hover,
.btn-main:focus{
  color: #fff;
}

.btn span svg{
  width: 30px;
  margin-left: 25px;
}


@media (min-width: 768px) {
    .navbar-container {
      position: sticky;
      top: 0;
      overflow-y: auto;
      height: 100vh;
    }

    .navbar-container .navbar {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: column;
      height: 100%;
    }

    .navbar-container .navbar-collapse {
      align-items: flex-start;
    }

    .navbar-container .nav {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .navbar-container .navbar-nav {
      flex-direction: column !important;
    }
}


.bio{
  background-image: url('../img/bg-section.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bio-img{
  -webkit-border-top-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -moz-border-radius-topright: 60px;
  -moz-border-radius-bottomleft: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  overflow: hidden;
  margin-right: 70px;
}

.bio-title p{
  font-size: 16px;
  color: #FF0000;
  margin-bottom: 8px;
}

.bio-title h2{
  color: #333333;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 24px;
}

.bio-img img{
  width: 100%;
}

.bio-cart{
  background-color: #ffffff;
  -webkit-border-top-left-radius: 60px;
  -webkit-border-bottom-right-radius: 60px;
  -moz-border-radius-topleft: 60px;
  -moz-border-radius-bottomright: 60px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 30px;
  position: absolute;
  width: 85%;
  bottom: 0;
  right: 2%;
  font-size: 16px;
  box-shadow: 0px 20px 40px #E8E8EC;
}

 .bio-cart .btn-main{
   font-size: 20px;
   width: 250px;
 }

.bio-cart .btn span svg{
   width: 20px;
   margin-left: 15px;
 }

.activity{
    background: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
}

.bio .activity:last-child{
    margin-bottom: 0px;
  }

 .activity-img img{
   width: 100%;
 }

.activity-cart h3{
  color: #333333;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 16px;
}

.activity-cart p{
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.activity-cart .btn-main{
  background-color: #ffffff;
  color: #FF0000;
  padding: 0;
  margin: 0;
}

.btn span svg{
  width: 20px;
}

.activity-cart .btn-main .cls-1{
  fill: #FF0000 !important;
}

.consult{
  background-image: url('../img/bg-consult.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 40px;
}

.stat .col-3{
  border-right: 1px solid #ffffff;
}

.stat .col-3:last-child{
  border-right: none;
}

.stat p{
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.stat p.small{
  font-size: 16px;
  font-weight: normal;
}

.result{

}

.result .stat-form-descr{
  font-size: 42px;
  color: #ffffff;
  line-height: normal;
  height: 100%;
}

.stat-form{
  height: 300px;
}



 .reviews{
   background-color: #F4F4F4;
 }



 .blog{
   background-image: url('../img/bg-big.png');
   background-size: cover;
   background-position: center;
   position: relative;
 }

 .faq{
   background-image: url('../img/bg-footer.png');
   background-size: cover;
   background-position: center;
   position: relative;
 }

 .footer-contacts{
   background-color: #3D4348;
 }

 .footer-copyright{
   background-color: #313538;
 }
