*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{
  background: #ffffff;
  color: #666666;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
	line-height: 20px;
	word-wrap: break-word;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1268px;
}

.container .cols{
	float:left;
  margin: 0 auto;
}

.container .cols.col-1{width:8.333333333333333%;}
.container .cols.col-2{width:16.66666666666667%;}
.container .cols.col-3{width:25%}
.container .cols.col-4{width:33.33333333333333%;}
.container .cols.col-5{width:41.66666666666667%;}
.container .cols.col-6{width:50%;}
.container .cols.col-7{width:58.33333333333333%;}
.container .cols.col-8{width:66.66666666666666%;}
.container .cols.col-9{width:75%;}
.container .cols.col-10{width:83.33333333333333%;}
.container .cols.col-11{width:91.66666666666666%;}
.container .cols.col-12{width:100%;}

/***********************MENU***************************************/

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after{
	content:"";
	display:table;
}

.container:after,
.row:after,
.clear:after{
	clear:both;
}

.logo{
  background: #858585;
}

.contacts-top{
  list-style: none;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contacts-top li{
  display: inline-block;
  color: #ffffff;
  }

.contacts-top li:first-child{
  margin-right: 15px;
}

.contacts-top i{
  margin-right: 5px;
}

.container-1{
  width: 339px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  float: right;
}

.container-1 input#search{
  width: 339px;
  height: 30px;
  background: #DDDDDD;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 20px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 0;
  right: 7%;
  margin-left: 7px;
  margin-top: 5px;
  z-index: 1;
  color: #63717f;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}

.container-1:hover .icon{
  color: #63717f;
}

.header h1{
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
}

.logo-main{
  margin-top: 10px;
}

/********************menu****************************/

.menu-inner{
  background: #858585;
}

.menu-inner h1{
  float: left;
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
}

.menu-inner ul{
  list-style: none;
  width: 50%;
  float: right;
}

.menu-inner ul li{
  display: inline-block;
  width: 19%;
  text-align: center;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-inner ul li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: block;
}

.menu-inner ul .active{
  background-color: #FF0000;
}

.menu-inner ul li:hover a{
  background-color: #FF0000;
}


.menu{
  background: #FF0000;
  height: 50px;
}

.menu ul{
  list-style: none;
  width: 100%;
}

.menu ul li{
  display: inline-block;
  width: 19%;
  text-align: center;
  height: 40px;
  margin-top: 5px;
}

.menu ul li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 20px;
}

.menu ul .active{
  background-color: #858585;
}

.menu ul li:hover a{
  color: #858585;
}

.menu ul .active:hover a{
  color: #ffffff;
}


.main{
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider .single-item {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
  margin: 0px 0px;
}

.regular .slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;

}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.regular .slick-slide>div>div img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.regular img{
  border: 1px solid #FF1D25;
  position: relative;
}

.regular .slider-name{
  background: #FF1D25;
  z-index: 100;
  color: black;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.regular .slider-name p{
  line-height: 30px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}


.decor{
  list-style: none;
}

.decor li{
  background: #858585;
  padding: 20px;
}

.decor a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.text .col-3{
  color: #ffffff;
}

.text .col-9 h2{
  text-transform: uppercase;
  color: #FF0000;
}

.text .col-9 h2,
.text .col-9 p{
  margin-bottom: 10px;
}


.footer{
  background: #494949;
  height: 50px;
  margin-top: 30px;
  color: #838484;
  text-align: center;
  line-height: 50px;
}



.main-production{
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-production .decor{
  list-style: none;
}

.main-production .decor li{
  background: #858585;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 60px;
}

.main-production .decor .active{
  background: #FF0000;
}

.main-production .decor a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  line-height: 60px;
}

.product .col-4>div{
  margin: 20px;
  margin-top: 0px;
}

.product img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #FF0000;
  margin: 0;
  display: block;
}

.product a{
  text-decoration: none;
}

.product .product-name{
  background: #FF1D25;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.product .col-4:hover .product-name{
  background: #ffffff;
  border: 1px solid #FF1D25;
  border-top: none;
}

.product .product-name p {
  line-height: 30px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.product .col-4:hover .product-name p{
  color: #FF1D25;
}

.product-inner .col-8{
  padding: 20px;
  padding-top: 0;
}

.descr-product table .red{
  background-color: #FF0000;
  padding: 5px;
  color: #ffffff;
  vertical-align: middle;
}

.descr-product table tr td:last-child{
  color: #000000;
  vertical-align: middle;
  padding: 5px;
}

.product-use{
  margin-top: 50px !important;
}

.product-text{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.product-text p{
  margin-bottom: 10px;
  font-size: 20px;
}

.logo-inner{
  margin-top: 10px;
}

.main-catalog{
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-catalog .cols>div{
  position: relative;
}

.main-catalog img{
  display: block;
  margin: 0 auto;
  padding: 0;
}

.main-catalog a{
  color: #ffffff;
  background: #FF0000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.absolute-center{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 0;
  bottom: 0;
  right: 0;
}

.catalog-inner{
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 300px) and (max-width: 479px) {


}

@media screen and (min-width: 480px) and (max-width: 639px) {



}

@media screen and (min-width: 640px) and (max-width: 800px) {


}

@media screen and (min-width: 800px) and (max-width: 1023px) {


}

@media screen and (min-width: 1024px) and (max-width: 1300px){


}

/* Большой дисплей*/
@media (min-width: 1268px) {


}
